<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSvt</servlet-name>
        <servlet-class>Control.InicioSvt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlLoginSvt</servlet-name>
        <servlet-class>Control.ControlLoginSvt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlAreaSvt</servlet-name>
        <servlet-class>Control.ControlAreaSvt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCorreoSvt</servlet-name>
        <servlet-class>Control.ControlCorreoSvt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTelefonoSvt</servlet-name>
        <servlet-class>Control.ControlTelefonoSvt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPerCorSvt</servlet-name>
        <servlet-class>Control.ControlPerCorSvt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPeCorSvt</servlet-name>
        <servlet-class>Control.ControlPeCorSvt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPersonaSvt</servlet-name>
        <servlet-class>Control.ControlPersonaSvt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSvt</servlet-name>
        <url-pattern>/InicioSvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlLoginSvt</servlet-name>
        <url-pattern>/ControlLoginSvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlAreaSvt</servlet-name>
        <url-pattern>/ControlAreaSvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCorreoSvt</servlet-name>
        <url-pattern>/ControlCorreoSvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTelefonoSvt</servlet-name>
        <url-pattern>/ControlTelefonoSvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPerCorSvt</servlet-name>
        <url-pattern>/ControlPerCorSvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPeCorSvt</servlet-name>
        <url-pattern>/ControlPeCorSvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPersonaSvt</servlet-name>
        <url-pattern>/ControlPersonaSvt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
